// color pallete
$main-color: #a6774e;
$point-color: #365959;
$sub-color1: #d9c6b0;
$sub-color2: #bfaa8f;
$line-color: #ececec;

// init css
.init-css {
	@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Jua&family=Noto+Sans+KR:wght@300;400&display=swap");
	* {
		font-family: "Noto Sans KR";
		font-weight: 400;
	}
	a {
		text-decoration: none;
		color: black;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
	}
	input {
		border: 0;
		background: none;
	}
	input:focus {
		outline: none;
	}
	button {
		border: none;
		background: none;
	}
}
